@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<div class="row mb-1">        
        <div class="col-sm-2">
            @*วันที่<div class="input-group date" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#dt_debtdate"
                id="dt_debtdate" name="dt_debtdate" />
                <div class="input-group-append" data-target="#dt_debtdate" data-toggle="datetimepicker">
                <div class="input-group-text form-control-sm disabled">
                <i class="fa fa-calendar"></i>
                </div>
                </div>
                </div>
        </div>
        <div class="col-sm-8">

        </div>
    </div>*@
    <iframe style="height: 750px; width: 100%;" src="/pdf/web/viewer.html?file=test.pdf"></iframe>
    @*<h1 class="display-4">Welcome</h1>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
